<h1>hello</h1>
<p><%= @login %></p>
<p><%= @password %></p>
<p><%= @message %></p>
<form action="/" method="POST">
<input name="login" type="text">
<input name="password" type="password">
<input type="submit">
</form>
<h1>hello</h1>